body {
  font: 1.5rem/2.5rem $font;
  letter-spacing: 0.01rem;
  text-align: center;
  color: $color-neutral;
}

.heading {
  font-size: 2.4rem;
  line-height: 3.6rem;
  letter-spacing: 0.0166667rem;
  color: $color-neutral-dark;
}
