// COLORS
$color-red: hsl(0, 78%, 62%);
$color-cyan: hsl(180, 62%, 55%);
$color-orange: hsl(34, 97%, 64%);
$color-blue: hsl(212, 86%, 64%);

$color-neutral-dark: #4c4e61;
$color-neutral: hsl(229, 6%, 66%);
$color-neutral-light: #fafafa;

// FONT
$font: 'Poppins', sans-serif;
